<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/styles.css') }}">
    <title>Folder Upload</title>
  </head>
  <body>
    <h1>AI Bias Governance</h1>

    <div class="main-row">
      <div class="main-column">
        <div class="main-form">
          <form id="uploadForm" method="POST" enctype="multipart/form-data">
            <input type="file" name="files" id="folderInput" webkitdirectory directory multiple />
            <button type="submit">Upload</button>
          </form>
        </div>
        
        <div id="resultTextArea" style="display: none;">
          <p id="outputText">Enter Job Description</p>
          <form id="jd" method="POST">
            <textarea id="outputTextArea" rows="10" cols="100"></textarea>
            <button type="submit" id="doneButton" style="display: block">Done</button>
          </form>
        </div>
      </div>
      <div class="main-column">
        <div id="result">
          <div class="loader" style="display: none;"></div>
        </div>
      </div>
    </div>
  </body>

  <script>
    document
      .getElementById("uploadForm")
      .addEventListener("submit", async (e) => {
        e.preventDefault();

        const formData = new FormData();
        const files = document.getElementById("folderInput").files;
        if (files.length === 0) {
          alert("ERROR: No files selected for uploading");
          return;
        }
        for (let i = 0; i < files.length; i++) {
          formData.append("files", files[i]);
        }
        try {
          const response = await fetch("/upload", {
            method: "POST",
            body: formData,
          });
          console.log("Upload successful");

          document.getElementById("resultTextArea").style.display = "block";
        } catch (error) {
          console.error("Error uploading files:", error);
          alert("Something went wrong!");
        }
      });
    
      document.getElementById("jd").addEventListener("submit", async (e) => {
        e.preventDefault();
        const jd = document.getElementById("outputTextArea").value;
        const result_div = document.getElementById("result");
        result_div.innerHTML = '<div class="loader" style="display: none;"></div>';
        const loader = document.getElementsByClassName("loader")[0];
        loader.style.display = "block";
        try {
            const response = await fetch("/check_bias", {
                method: "POST",
                body: JSON.stringify({ jd: jd }),
                headers: {
                    "Content-Type": "application/json"
                }
            });

            if (response.ok) {
              const data = await response.json(); // Wait for the JSON response
              console.log(data.messages);
              const age_bias = data.age_bias;
              const gender_bias = data.gender_bias;
              const experience_bias = data.experience_bias;
              const city_bias = data.city_bias;
              const institute_bias = data.institute_bias;
              fav_cities = data.fav_cities;
              fav_institutes = data.fav_institutes;
              
              if (fav_cities !== undefined) {
                fav_cities = fav_cities.join(", ");
              }
              if (fav_institutes !== undefined) {
                fav_institutes = fav_institutes.join(", ");
              }

              result_text = "";
              result_text = "<h2>Bias Detection Results</h2>";
              if (!age_bias && !gender_bias && !experience_bias && !city_bias && !institute_bias) {
                result_text += "No Bias Detected\n";
              } else {
                result_text += "<ul>";
                if (age_bias) {
                  result_text += "<li>Age Bias Detected in favour of class with <span class='result-class'>>35 years</span></li>";
                }
                if (gender_bias) {
                  result_text += "<li>Gender Bias Detected in favour of class <span class='result-class'>Males</span></li>";
                }
                if (experience_bias) {
                  result_text += "<li>Experience Bias Detected in favour of class with <span class='result-class'>>5 years</span></li>";
                }
                if (city_bias) {
                  result_text += "<li>City Bias Detected in favour of <span class='result-class'>"+fav_cities+"</span></li>";
                }
                if (institute_bias) {
                  result_text += "<li>Institute Bias Detected in favour of <span class='result-class'>"+fav_institutes+"</span></li>";
                }
                result_text += "</ul>";
              }
              loader.style.display = "none";
              result_div.innerHTML = result_text;
            } else {
                loader.style.display = "none";
                console.error("HTTP error:", response.status);
            }
            
        } catch (error) {
            console.error("Error checking bias:", error);
            alert("Something went wrong!");
        }
    });

  </script>
</html>
